<%- include("partials/header") -%>

<div class="secondbox col-lg-4 col-sm-4 col-md-4">
<h3>Title</h3>
<p><%= title %></p>
<h5>Description</h5>
<p><%= content %></p>
<form class="" action="/blog" method="post">
<span id="ispan"><%=likes%></span><button class="far fa-thumbs-up fa-1x" id="ispan2" type="submit">like</button></form>
</div>


<%- include("partials/footer")-%>
